



*{
	margin:0px;
	padding:0px;
	width:auto;
	height:auto;
	 font-size: 13px;
	font-family:helvetica,arial,sans-serif;
	line-height: 16px;
	
}


body{
	background-color:#E9EAED;
	font-family: Helvetica;
	font-size: 13px;
	
}

/*-------------------------INDEX PAGE CSS STARTS---------------------------------*/
.wrapper{
	width:100%;
}



/*---------------------------Main HEADER WRAPPER START-------------------------------*/


.header-wrapper{
	width:100%;
	background:#4267b2;
	position: fixed;
	top:0;
	z-index: 10000;
	height: 43px;

}
.nav-container{
	width:95%;
	margin:0px auto;
}

.nav{
	width:100%;
	
}

.nav-left{
	width: 50%;
	display: block;
	float:left;
}
.nav-right{
	    width: 40%;

	float:right;
}

.nav-left img{
	float: left;
	display: block;
	margin-left: 150px;
}
.nav ul{
	    list-style-type: none;

}
.nav ul li{
	line-height: 50px;
	float:left;
	margin-right: 0px;
	padding: 0px 10px;
	cursor:pointer;

	transition: all 200ms ease-in-out;
}
.nav ul li a{
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}

.nav .fa{
	font-size: 20px;
	color:black;
}
.nav ul li .fa-twitter{
	margin-right: 4px;
	color: #5ab2f5;
	font-size: 22px;
	position: relative;
	top: 2px;
}
 .fa{
	margin-left: 5px;
}

#search_box{
	
	width: 55%;
	padding: 3px;
	margin-top: 10px;
	margin-left: 10px;
}
#search_icon{
	
	height: 24px;
	padding: 3px;

	
}


/* ---------- Search Box ---------------- */

.search-box-wrapper {
    display: inline-flex;
	margin-top: 7px;
    margin-left: 5px;
        width: 70%;

}

.search-box-input {
    font-size: inherit;
    padding:4px;
    outline: 0;
    border-radius: 0.5em 0 0 0.5em;
    width: 100%;
}



.search-box-button {
    font-size: inherit;
    border: 0px solid #fafafa;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #fafafa;
    border-left: 0;
    padding: 0 0.75em;
    color: white;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}


/*--------top head start--------*/
.head{
	height:100px;
	width:100%;
	background:#83c400;
}
.head-in{
	width:850px;
	margin:0px auto;
}
.head-logo{
	width:400px;
	height:auto;
	float:left;
	margin: 40px 0px 0px 0px;
}
.h-1{
	color: white;
 	font-size: 44px;
}
.right{
	float:right;
	width:430px;
	height:auto;
	margin: 10px 0px;
	font-size:13px;
	}
.right ul{
	list-style:none;
}

.right ul li{
	margin:5px 5px;
}
.right ul li input{
	padding: 4px;
}
.right-email{
	float:left;
}

.right-pass{
	float:left;
}
.btn{
    margin: 25px 1px;
	padding:0px;
	border:none;
	background:#8fc400;
	color:white;
	border: 1px solid rgb(40, 77, 39);
	padding: 2px 3px;
}

.right-btn{
line-height: 6;}

.white{
	color:white;
}

 


/*--------header Start--------*/
.header{
	width:851px;
	height:315px;
	border:1px solid #ccc;
	margin:0px auto;
}


#login{
	float: right;
}

#login >#logout li {
	list-style: none;
	
}

#login >#logout li a {
	color: #fff;
	font-weight: bolder;
	text-decoration: none;
}

#logout{
	position: absolute;
	margin-top: 40px;
}

.center{
	width:600px;
	margin:0px auto;
}

.posts{
	width:500px;
	height:auto;
}

.create-posts{
	width: 490px;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 2px;
	border: 1px solid #E1E0E0;
	margin-bottom:10px;
	 margin-top: 55px;
}

.c-header{
	width:100%;
	height:auto;
	padding-top:5px;
}

.c-h-inner{
	width:95%;
	height:25px;
	margin:0px 15px;
	border-bottom:1px solid #E5E5E5;
	font-size:12px;
	font-weight:bold;
}

.c-h-inner ul{
	list-style:none;	
	margin-top:2px;
}

.c-h-inner ul li{
	display:inline;
	border-right: 1px solid #E9E3E3;
	padding-right:10px;
}
.c-h-inner  ul li a{
	color: rgb(59, 89, 152);
	text-decoration: none;
}
.c-h-inner ul li a:hover{
	text-decoration:underline;
}

.c-h-inner ul li img{
	margin: -2px 3px;
}
.c-body{
	width:100%;
	height:auto;
	border-bottom:1px solid #E5E5E5;
	overflow: auto;
}
#body-bottom{
	border-top: 1px solid #8fc400;
	margin: 10px;
	display: none;
}
#body-bottom img{
	margin: 10px;
	height: 95px;
	width: 95px;
}
.iconw-margin{
	margin: -2px 4px;
}
.iconp-margin{
	margin: -3px 1px;
}
.body-left{
	width:62px;
	height:auto;
	float:left;
	margin-left:15px;
}


.img-box {
	width:50px;
	height:50px;
	margin: 10px 0px;
    border: 1px solid #F5F1F1;
}

.img-box img{
	width:100%;
	height:100%;
}

.body-right{
	width:
}

.text-type{
	width: 400px;
	height: auto;
	resize: none;
	margin: 23px 0px;
	font-size: 14px;
	color: #959698;
	border:none;
	overflow:hidden;
	padding-left: 5px;
}

.c-footer{
	overflow:auto;
}
.right-box{
	float:right;
}

.right-box ul {
	list-style:none;
	
}

.right-box ul li{
	display:inline;
}
.btn1{
	width: 88px;
	border:1px solid #ccc ;
	background: white none repeat scroll 0% 0%;
	font-weight: bolder;
	color: rgb(87, 87, 87);
	border-radius: 2px;
	margin: 10px 0px;
	height: 25px;
	font-size:12px;
}

.btn1:active{
	bordeR:1px solid rgb(71, 100, 159);
}


.btn2{
	background: rgb(71, 100, 159) none repeat scroll 0% 0%;
	color: white;
	font-weight: bolder;
	font-size: 12px;
	margin: 0px 7px;
	width: 65px;
	height: 25px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
}

.btn2:active{
	border:2px solid rgba(71, 100, 159, 0.55);
}

.btn2:hoveR{
	cursor:pointer;
}

.btn1:hoveR{
	cursor:pointer;
}

.post-show{
	width: 490px;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 2px;
	border: 1px solid #E1E0E0;
	 margin-bottom: 7px;
}

.post-show-inner{
	width:95%;
	margin:10px auto;
}

.post-header{
	width:100%;
	height:50px;
}
.post-header  a:hover{
	text-decoration:underline;
}
.post-header-text{
	margin:8px 0px;
}

.post-img{
	width:100%;
	height:auto;
	max-height:400px;
}

.post-img img{
	max-width:470px;
	max-height:394px;
	width:100%;
}

.post-img-footer{
	border: 1px solid #CCC;
	margin: -5px 0px 10px auto;
}

.post-footer-text{
	padding:10px;
}
.post-footer-text h3{
	color: rgb(20, 24, 76);
	font-weight: normal;
	font-size: 18px;
}
.post-footer-text p{
	font-size: 13px;
	color: #333;	
}

.post-footer-text small{
	color: rgb(204, 204, 204);
	font-family: sans-serif;
	font-size: 11px;
}

.post-footer-text ul{ list-style:none;}

.post-footer-inner ul li button{
	   background: transparent;
    border-width: 0px;
     cursor: pointer;
     color:#040404;
}


.post-left-box{
	width: 100%;
	height:auto;
}

.post-left-box ul{list-style:none;}

.post-left-box ul li{
	display:block;
	
}

.post-left-box ul li a{
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: #3F66B7;
}

.post-left-box ul li small{
	font-size: 12px;
	color: #5e5e5f;
}


.id-img-box{
	width:50px;
	height:50px;
	float:left;
}

.id-img-box img{
	width:100%;
	height:100%;
}

.id-name{
	padding: 8px 55px;
}



.post-footer{
	width:100%;
	height:20px;
	margin-top: 10px;
	margin-left: 50px;
	 
}
.border-post{
	  border-top: 1px solid #E5E5E5;
	  margin-top: 5px;
}
.post-footer ul {list-style:none}

.post-footer ul li{ margin-right: 17%; display: inline-block;}

.post-footer a{text-decoration:none; font-size:13px; color:#3F66B7;}
.post-footer a:hover{text-decoration:underline;}

.post-meta{
background: #f2f3f5;
height: auto;
padding-bottom: 10px;
}
.post-reaction{
	height: 40px;
    border-bottom: 1px solid #E5E5E5;

}



.post-share{
	height: 40px;
    border-bottom: 1px solid #E5E5E5;
}
.comment-wrapper{
	vertical-align: bottom;
}
.post-comment-left, .post-sub-comment-left{
    margin-left: 20px;
    float: left;
    width: 10%;
    margin-top: 20px;
}
.post-comment-left img, .post-sub-comment-left img{
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

.comment-display-username{
	color:#365899;
	font-size: 13px;
	font-weight: bold;
}
.post-display-comment-left{
    margin-left: 20px;
    float: left;
    width: 8%;
    margin-top: 20px;
}
.post-display-comment-left img{
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.post-display-comment-right{
  float: left;
    width: 75%;
    margin-top: 15px;
     border-radius: 20px;
    padding: 11px;
    background-color: white;
}

.post-comment-right, .post-sub-comment-right{
    float: left;
    width: 75%;
    margin-top: 15px
}

.post-comment-right input{
	padding: 10px;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0px;
	border:0px;
}


.post-comment-right textarea , .post-sub-comment-right textarea{
	resize:vertical;
	border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	  min-height: 27px;
    max-height: 100px;
    overflow: hidden;
}


 textarea:hover, textarea:focus{
	outline-color: transparent;
	
}
.comment-display-details-meta span, .sub-comment-display-details-meta span{
	margin-left: 5px;

}
.sub-comment-display-details-meta{
	margin-top: 5px;
}

/*.sub-comment-reply-wrapper{
	display: none;
}*/

.comment-display-details-reply:hover{
	text-decoration: underline;
}


/* ---------- Search Box ---------------- */

.search-box-wrapper {
    display: inline-flex;
	margin-top: 7px;
    margin-left: 5px;
        width: 65%;

}

.search-box-input {
    font-size: inherit;
    padding:4px;
    outline: 0;
    border-radius: 0.5em 0 0 0.5em;
    width: 100%;
}



.search-box-button {
    font-size: inherit;
    border: 0px solid #fafafa;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #fafafa;
    border-left: 0;
    padding: 0 0.75em;
    color: white;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

/*  DropDown menu section */

.floted-left{
	float: left;
}
.clear{
	clear:both;
}
.c-footer{
	height: 40px;
	overflow: visible;
}
.right-box{
	    position: absolute;
    margin-left: 300px;
}
.right-box ul li {
    display: inline;
    margin-top: 6px;
}

.id-name .dd-container a{
	color:black;
}
.privacy_setting{
	margin-top: 5px;
	opacity: 0.5;
}


.comment-display-username a{
  color:#3F66B7;
  text-decoration: none;
}
.comment-display-username a:hover{
  
  text-decoration: underline;
}
.comment-display-username a:visited{
  
 color:#3F66B7;
}
.comment-display-username a:active{

 color:#3F66B7;
}
